<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>

    <header>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">
            React intl input
          </h1>
          <p class="lead">
            A flexible and beautiful Input control for ReactJS to handle multi languages fields.
          <p>
        </div>
      </div>
      <div class="container">
        <div class="header-links">
          <a
            href="https://github.com/papswell/react-intl-input"
            target="_blank"
            rel="noreferrer noopener">
            Code and docs on GitHub
          </a>
          <a
            class="github-button"
            href="https://github.com/papswell/react-intl-input"
            data-show-count="true"
            aria-label="Star papswell/react-intl-input on GitHub">Star
          </a>
        </div>
      </div>
    </header>

    <div id="<%= htmlWebpackPlugin.options.mountId %>"></div>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
