$bgc: #000;

body {
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  background-color: #f9f9f9;
}


section {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
}
