.react_intl_input {
  display: flex;
  align-items: flex-start;
}

.react_intl_input-input {
  /* keep the focus blue border above the select component */
  position: relative;

  min-height: 100%;
  align-self: stretch;
  padding: 0 10px;

  border: solid 1px #ccc;
}

.react_intl_input-option {
  display: block;
  height: 100%;
  width: 100%;
  text-align: left !important;
}

.react_intl_input-option-empty_warning {
  margin-left: 4px;
}
